/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Seven Segment', Arial;
}

/* COMMON */
img {
    max-width: 100%;
}

.container{
   

    width: 250px;
    margin: 300px auto;
    /* debug */
    background-color: pink;
}

.grow {
    flex-grow: 2;
}

/* HEADER */


/* .columns > .wrap {
    flex-grow: 1;
} */



/* MAIN */
.columns {
    display: flex;
    height: 100%;
    
    /* debug */
    border: 4px solid blue;
    /* background-color: red; */
    
}

.logo {
    text-align: center;
    background-color: #D5D5D5;
}

.screen {
    background-color: black;
    color: green;

    text-align: right;
    font-size: 40px;
    

}

.calculator {
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    
    height: 210px;
}

/* KEYS */

.n-keys {
    flex-grow: 4;
    /* column-gap: 10px; */
    /* debug */
    padding: 0 30px;
    margin: 0;
    /* border: 1px solid black; */
  
}

.op-keys{
    flex-grow: 1;
    
    /* debug */
    border: 1px solid green;

}


.square{
   background-color: #D5D5D5;
    height: 40px;
    width: 40px;
}

.operator {
    background-color: #77A8B0;
}
.operator-sp{
    background-color: #FF9F0A;
}